body {
  background: violet;
}
h1 {
  text-align: center;
  color: rgb(26, 1, 49);
}
.caixa1 {
  position: absolute;
  background: purple;
  color: #FFFFFF;
  width: 200px;
  height: 200px;
  left: 50%
}
.caixa2 {
  position: absolute;
  background: pink;
  color: #FFFFFF;
  width: 200px;
  height: 200px;
  left: 60%;
}

.menuPrincipal {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45px;
  background: rgb(178, 99, 224);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: 0;
}
li {
  float: left;
}
li a  {
  display: block;
  color: rgb(126, 42, 112);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  background: rgb(186, 112, 230);
  color:rgb(107, 4, 38)
}

.caixaA {
  position: absolute;
  top: 370px;
  left: 0;
  width: 90%;
  height: 140px;
  background: rgb(247, 245, 248);
  margin: 20px;
  border-color: blue;
  border-width: 20px;
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.rodape {
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0;
  height: 30px;
  background-color: rgb(236, 158, 234);
  color: rgb(150, 5, 138);
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.conteudo {
  position: relative;
  top: 25px;
}
 P1 {
   font-style: oblique;
   font-size: 18px;
 }
 P2 {
   font-style: oblique;
   font-size: 18px;
 }
 P3 {
   font-style: oblique;
   font-size: 18px;
 }
 P4 {
   font-style: oblique;
   font-size: 18px;
 }
.caixaB {
  position: relative;
  width: 10px;
  top: 45px;
  left: 0;
  width: 90%;
  height: 140px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: cente

}
.caixaC {
  position: relative;
  top: 15px;
  left: 0;
  width: 100%;
  height: 250px;
  margin: 20px;
  padding: 30px;
  display: flex;
}
h3 {
  color: rgb(26, 1, 49);
  font-size: 25px;
}
h4 {
  font-size: 25px;
  color: rgb(26, 1, 49);
}
h2 {
  color:rgb(26, 1, 49);